$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$color: #000;

.box {
  border: 3px solid;
  height: 200px;
  width: 200px;
};

.row {
  text-align: center;
}

h1 {
  font-weight: bold;
  text-align: center;
};

.all {
  margin-left: 30%;
  margin-top: 15%;
  text-align: center;
};
